body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    max-width: 90vw;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
    position: relative;
}

ul li label {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 90%;
    transition: all 0.2s;
}

ul li label:hover {
    background-color: #f7f7f7;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.correct {
    color: #155724;
    background-color: #d4edda !important; 
    font-weight: bold;
    border: 1px solid #c3e6cb;
}

.incorrect {
    color: #721c24;
    background-color: #f8d7da !important;
    text-decoration: line-through;
    border: 1px solid #f5c6cb;
}